# Node
node_modules/
**/node_modules/
dist/
**/dist/

# Env
.env
**/.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.env
ClaimsAssistant.zip
